@import url('https://fonts.googleapis.com/css?family=Open+Sans:600|Work+Sans:400,500,600,700&display=swap');

body{
  /* background: rgb(34,193,195); */
  /* background: linear-gradient(135deg, rgba(34,193,195,1) 0%,     rgb(38, 3, 94) 100%); */
  /* background: linear-gradient(#ccffff, #ccccff); */
  background-color: #f2f2f2;
  /* background-color: #bcc2cf; */
  font-family: "work sans";
  height: 100%;
  /* width: 100%; */
  /* min-height: 100vh; */
}
header{
  background-color: #FFFFFF;
  /* background-color: #0d0f13; */
  height: 100px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
}
h2{
  font-family: 'open sans', sans-serif;
  font-size: 2rem;
  font-weight: 600;
  font-weight: bold;
  color: #0e1318;
  padding: 2rem 0;
  margin: 0;
  text-align: center;
}
/* .heading
{
   text-transform: uppercase;
  background-image: linear-gradient(
    -225deg,
    #05030e 0%,
    #44107a 29%,
    #d45f11 67%,
    #042264 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  text-fill-color: transparent;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
  font-size: 2rem;
  padding: 2rem 0;
  margin: 0;
  text-align: center;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
} */


html{
  font-size: 100%;
  height: 100%;
} 

#loginform{
  display:none;
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  /* height: 60%; */
  margin: 100px auto;
  background-color: #FFFFFF;
  /* background-color: #767e92; */
  border-radius: 25px;
  position: fixed;
  top: 5%;
  left: 5%;
}

#dateform{
  display:none;
  max-width: 500px;
  min-width: 300px;
  max-height: 700px;
  width: 30%;
  /* height: 60%; */
  margin: 100px auto;
  background-color: #FFFFFF;
  /* background-color: #767e92; */
  border-radius: 25px;
  position:fixed;
  top: 5%;
  right: 5%;
}

#dateform .row input{
  width: 70%;
  box-sizing: border-box;
  border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
  /* background-color: rgba(38,3,94); */
}

#headerTitle{
  text-align: center;
  font-family: 'open sans', sans-serif;
  padding: 2rem 0;
  margin: 0;
  font-size: 2rem;
}

.row{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 2rem;
  max-width: 100%;
  
}
/* .row .dropdown{
  width: 70%;
  box-sizing: border-box;
  border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 1rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
} */

input::file-selector-button {
  /* background-color: #DC3545; */
  /* background-color: #118baa; */
  /* background-color: #3498DB; */
  background-color: rgba(38,3,94);
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 15px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: all 0.3s ease;
}

.row .dropdown {
  /* background-color: #3498DB; */
  background-color: rgba(38,3,94) ;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  width:70%
}

.row .dropdown:hover, .dropdown:focus {
  /* background-color: #2980B9; */
  background-color: rgba(38,3,94);
}

.row .dropdown {
  position: relative;
  display: inline-block;
}

.row label {
  display: inline-block;
  margin-bottom: 1rem;
  font-size: 20px;
  font-weight: 600;
  color: #0e1318;
}

.row input{
  width: 80%;
  box-sizing: border-box;
	border: none;
  font-size: 1.3rem;
  padding-left: 1.5rem;
  padding-bottom: 0.5rem;
  box-shadow: inset 0px -3px 0px 0px rgba(187,187,187,0.2);
  transition: box-shadow 0.2s ease-in;
}

.row input:focus{
   /* box-shadow: inset 0px -3px 0px 0px rgba(34,193,195,0.7); */
   outline: none;
}

.row input::-webkit-input-placeholder{
  opacity: 1;
  transition: opacity 0.25s ease-out;
}

.row input:hover::-webkit-input-placeholder,
.row input:focus::-webkit-input-placeholder{
  opacity: 0;
}

.row label{
  align-self: start;
  padding-left: 4.5rem;
  padding-bottom: 0.5rem;
  color: rgba(187,187,187,0.9);
}

.row button{
  border-radius: 25px;
  width: 50%;
  height: 40px;
  font-size: 1.3rem;
  color: white;
  font-weight: 700;
  /* background: rgb(34,193,195); */
  /* background: linear-gradient(90deg, rgba(34,193,195,1) 0%,     rgba(38,3,94) 100%); */
  background: rgba(38,3,94) ;
  border: 0px;
  cursor: pointer;
  transition: opacity 0.25s ease-out;
}

.row button:hover{
  opacity: 0.8;
}

#button{
  padding-bottom: 1.5rem;
}


#iconGroup{
  display: flex;
  justify-content: center;
  padding: 2rem 0;
}

#iconGroup a{
  margin: 0 0.6rem;
}

/* #alternativeLogin {
   text-align: center;
   padding-top: 2rem;
   margin-top: 1.5rem;
} */

/* .button_submit{
  position:fixed;
  top: 5%;
  left:5%;

} */

/* .button_graph{
  position:fixed;
  top: 5%;
  right:5%;

} */


/* CSS */
/* .button_submit {
  all: unset;
  width: 70px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position:fixed;
  top: 5%;
  left:5%;
}

.button_submit::after,
.button_submit::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button_submit::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button_submit::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button_submit:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button_submit:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
} */


/* CSS */
/* .button_graph {
  all: unset;
  width: 70px;
  height: 30px;
  font-size: 16px;
  background: transparent;
  border: none;
  position: relative;
  color: #f0f0f0;
  cursor: pointer;
  z-index: 1;
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  white-space: nowrap;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  position:fixed;
  top: 5%;
  right:5%;
}

.button_graph::after,
.button_graph::before {
  content: '';
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: -99999;
  transition: all .4s;
}

.button_graph::before {
  transform: translate(0%, 0%);
  width: 100%;
  height: 100%;
  background: #28282d;
  border-radius: 10px;
}

.button_graph::after {
  transform: translate(10px, 10px);
  width: 35px;
  height: 35px;
  background: #ffffff15;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border-radius: 50px;
}

.button_graph:hover::before {
  transform: translate(5%, 20%);
  width: 110%;
  height: 110%;
}

.button_graph:hover::after {
  border-radius: 10px;
  transform: translate(0, 0);
  width: 100%;
  height: 100%;
}

.button_graph:active::after {
  transition: 0s;
  transform: translate(0, 5%);
} */

/* css for table */

.table-wrapper{
  /* margin: 10px 70px 70px; */
  /* box-shadow: 0px 35px 50px rgba( 0, 0, 0, 0.2 ); */
}

.fl-table {
  border-radius: 5px;
  font-size: 12px;
  font-weight: normal;
  border: none;
  border-collapse: collapse;
  width: 40%;
  max-width: 100%;
  white-space: nowrap;
  background-color: white;
}

.fl-table td, .fl-table th {
  text-align: center;
  padding: 8px;
}

.fl-table td {
  border-right: 1px solid #f8f8f8;
  font-size: 12px;
}

.fl-table thead th {
  color: #ffffff;
  /* background: #4FC3A1; */
  background: #0e1318;
  /* color:white; */
}


.fl-table thead th:nth-child(odd) {
  color: #ffffff;
  background: #324960;
}

.fl-table tr:nth-child(even) {
  background: #F8F8F8;
}

/* Responsive */

@media (max-width: 767px) {
  .fl-table {
      display: block;
      width: 100%;
  }
  .table-wrapper:before{
      content: "Scroll horizontally >";
      display: block;
      text-align: right;
      font-size: 11px;
      color: white;
      padding: 0 0 10px;
  }
  .fl-table thead, .fl-table tbody, .fl-table thead th {
      display: block;
  }
  .fl-table thead th:last-child{
      border-bottom: none;
  }
  .fl-table thead {
      float: left;
  }
  .fl-table tbody {
      width: auto;
      position: relative;
      overflow-x: auto;
  }
  .fl-table td, .fl-table th {
      padding: 20px .625em .625em .625em;
      height: 60px;
      vertical-align: middle;
      box-sizing: border-box;
      overflow-x: hidden;
      overflow-y: auto;
      width: 120px;
      font-size: 13px;
      text-overflow: ellipsis;
  }
  .fl-table thead th {
      text-align: left;
      border-bottom: 1px solid #f7f7f9;
  }
  .fl-table tbody tr {
      display: table-cell;
  }
  .fl-table tbody tr:nth-child(odd) {
      background: none;
  }
  .fl-table tr:nth-child(even) {
      background: transparent;
  }
  .fl-table tr td:nth-child(odd) {
      background: #F8F8F8;
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tr td:nth-child(even) {
      border-right: 1px solid #E6E4E4;
  }
  .fl-table tbody td {
      display: block;
      text-align: center;
  }
}

.vl {
  /* border-left: 1px solid #f0f0f0;
  height: 100%;
  position: absolute;
  left: 50%;
  margin-left: -3px;
  top: 0; */
  border-left: 1px solid rgb(15, 15, 17);
  height: 100%;
  /* width:100%; */
  position: fixed;
  left: 46%;
  margin-left: -3px;
  top: 0;
  /* min-height:150vh; */
}

hr{
  width: '100%';
  border-left: 2px solid rgb(18, 39, 97);
  /* display: flex; */
  /* align-items: center; */
  /* justify-content: center; */
  /* height: 100vh; */
}

.button_submit {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  position:fixed;
  top: 5%;
  left:5%;
}

.button_submit:disabled {
  pointer-events: none;
}

.button_submit:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button_submit:active {
  box-shadow: none;
  transform: translateY(0);
}

.button_graph {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 10px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  display: inline-block;
  font-family: Roobert,-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol";
  font-size: 16px;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  min-height: 30px;
  min-width: 0;
  outline: none;
  padding: 16px 24px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  will-change: transform;
  position:fixed;
  top: 5%;
  right:5%;
}

.button_graph:disabled {
  pointer-events: none;
}

.button_graph:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.button_graph:active {
  box-shadow: none;
  transform: translateY(0);
}
